@import "tailwindcss";

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;

}
